
<div class="toast-container position-fixed bottom-2 end-1 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">donated</strong>
      <small>2min</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
    thanks
    </div>
  </div>
</div>


<div  class="format_align_center">
  <div class="row mb-3 ">
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
    <div class="col-sm-4">
      <input type="text text_fields" class="form-control form-control-sm" id="colFormLabelSm" formControlName=" ApplicantName">
    </div>
  </div>
  <div class="row mb-3">
    <label for="colFormLabel" class="col-sm-2 col-form-label" >phone number</label>
    <div class="col-sm-4">
      <input type="tel" class="form-control" id="colFormLabel" formControlName=" PhoneNumber">
    </div>
  </div>
  <div class="row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Currency</label>
    <div class="col-sm-4">

      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>currency</option>
        <option value="1">USD</option>
        <option value="2">KSH</option>
        <option value="3">FRCS</option>
      </select>
</div>
</div>
<div class="row">
  <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Amount</label>
  <div class="col-sm-4">
      <input type="number" class="form-control form-control-lg" id="colFormLabelLg" formControlName="PledgeAmount">

      <br>
      <button type="button" class="btn btn-primary" id="liveToastBtn">submit</button>



      <div class="row">

      <div class="input-group mb-3 col-sm-2">
        <select class="form-select" id="inputGroupSelect02">

          <option value="1">Mpesa</option>
          <option value="2">Cash</option>
          <option value="3">Bank</option>
        </select>
</div>

</div>
</div>
    </div>


















</div>
